# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven / Gradle
target/
build/
*.iml
.gradle/
.gradle-cache/
!gradle-wrapper.jar

# Gradle specific cache directories
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Eclipse
*.pydevproject
.project
.metadata
.classpath
.cproject
.settings/
bin/
tmp/
target/

# VS Code
.vscode/

# Mac System files
.DS_Store

# Windows System files
Thumbs.db
